body {
  background-color: black;
  background-image: url('/assets/dark_wood.png');
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  
  > header {
    min-height: 180px;
  }
  
  > footer {
    height: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    
    background-color: rgba(#000,0.3);
  }
  
  > main {
    display: flex;
    flex: 1 0 0;
    
    section {
      flex: 1 0 0;
      //border: 1px solid gray;
    }
  }
  
}
