@keyframes flash-in {
  0% {
    text-shadow: 0 0 15px white;
  }
}

main {
  
  //background-color: rgba(#000,0.3);
  
  section {
    
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-bottom: 0;
    
    header {
      display: flex;
      flex: 0 0 auto;
      
      > * {
        flex: 1 0 0;
        margin: 0;
      }
      
      input {
        width: 100%;
      }
    }
    
    ul, ol {
      list-style-type: none;
      margin: 0;
      padding: 0;
      flex: 1 0 0;
      overflow-y: auto;
      
      li {
        display: flex;
        padding: 0px;
        margin: 0;
        font-size: 0.9em;
        color: #657781;
        background-color: rgba(#0E1624, 0.7);
        
        &:nth-child(even) {
          background-color: rgba(lighten(#0E1624, 5%),0.7);
        }
        
        &:hover {
          cursor: pointer;
        }
        
        div {
          display: flex;
        }
        
        .item {
          flex: 1 0 0;
          padding: 14px 10px;
          transition: 0.15s linear;
          
          .fa {
            margin-right: 0.5em;
          }
          
          &:hover:not(.lit) {
            color: #7e99aa;
          }
        }
        
        button {
          flex: 1 0 0;
          text-align: left;
          padding: 10px;
          margin: 0;
        }
        
        ul, ol {
          border-top: 1px solid black;
          border-bottom: 5px solid black;
          overflow-y: initial;
          
          li {
            padding-left: 2em;
          }
        }
      }
    }
    
    ol {
      li {
        .item:before {
          content: attr(data-track) '. ';
          padding-right: 0.5em;
          font-size: 0.9em;
        }
      }
    }
    
    &.playlist {
      
    }
    
    .item.lit {
      color: #FFF;
      text-shadow: 0 0 10px rgba($glow-color, 1);
      animation: flash-in 0.3s ease-out;
    }
    
    &.library-artists, &.library-songs {
      li {
        flex-direction: column;
        
        ul {
          display: flex;
          flex-direction: column;
          
          li {
            display: flex;
            flex: 1 0 0;
          }
        }
      }
    }
  }
}

.search {
  display: flex;
  
  input {
    flex: 1 0 0;
  }
}

li.gu-mirror {
  list-style-type: none;
  display: flex;
  align-items: center;
  background-color: rgba(#000,0.3);
  padding: 10px;
  
  button {
    display: none;
  }
}