@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading-indicator-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  pointer-events: none;
  user-select: none;
  
  .loading-indicator {
    width: 50px;
    height: 50px;
    border: 5px solid;
    border-right-color: transparent;
    //background-color: white;
    border-radius: 50%;
    opacity: 1;
    animation: spin 0.5s linear infinite;
    transition: 0.5s ease-in 0.5s;
  }
  
  &.hidden .loading-indicator {
    transition-delay: 0;
    opacity: 0;
  }
}