.playhead {
  height: 4px;
  background-color: black;
  position: relative;
  margin: 0px 20px 10px;
  transition: 0.2s linear;
  
  &:hover {
    height: 10px;
    cursor: ew-resize;
    
    .playhead-progress {
      @include border-radii(0, 5px, 5px, 0);
    }
  }
  
  .playhead-progress {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 10px rgba(yellow, 1);
    @include border-radii(0, 2px, 2px, 0);
  }
}

.player {
  display: flex;
  justify-content: center;
//  background-color: #0e121b;
  padding: 10px;
  
  > * {
    flex: 1 0 0;
  }
}

.display {
  border: 1px solid gray;
  padding: 10px;
  display: flex;
  min-width: 350px;
  max-width: 100%;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  align-items: center;
  background-color: #E0E2D9;
  color: #1c4900;
  text-shadow: 0 0 5px #D7FFC1;
  border-radius: 10px;
  
  h3 {
    flex: 1 0 100%;
    margin: 0;
    padding: 0;
  }
}

.speaker {
  //background-color: gray;
  background-image: url('/assets/dark_circles.png');
  border-radius: 10px;
  margin: 5px;
}

.controls {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  //background-image: url('/assets/dark_wood.png');
  border-bottom: 3px solid black;
  box-shadow: 0 0 5px rgba(#000,0.3);
  padding: 10px;
  border-radius: 10px;
  
  > * {
    flex: 1 0 0;
  }
}

.player .buttons {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  //margin: 10px;
}

.player-btn {
  border-radius: 15px;
  width: 50px;
  height: 36px;
  
  &:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-right: 10px;
    margin-right: -10px;
  }
  &:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 10px;
    margin-left: -10px;
  }
}

.player {
  .btn-play {
    position: relative;
    z-index: 10;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    //border: 1px solid #006D99;
  }
}