* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: helvetica, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

// ============
// = includes =
// ============

@import 'layout';
@import 'typography';
@import 'buttons';

@import 'player';
