@import 'dragula.min';


* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  min-height: 100%;
  font-family: helvetica, sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

// ============
// = includes =
// ============

@import 'variables';
@import 'layout';
@import 'typography';
@import 'buttons';
@import 'inputs';

@import 'player';
@import 'list';

@import 'song_info.scss';