<header class="player" ng-controller="PlayerController">
  <div class="speaker speaker-left">&nbsp;</div>
  <div class="controls">
    <audio autoplay preload src="{{ player.song.path }}"></audio>
    <div class="display">
      <h3>{{ player.song.title || 'Nothing Pulpitating' }}</h3>
      <aside class="display-info">
        <span class="display-info-artist">{{ player.artist.name }}</span>
        <span class="display-info-album">{{ player.album.title }}</span>
      </aside>
    </div>
    <div class="buttons">
      <button class="player-btn btn-previous"><i class="fa fa-fast-backward"></i></button>
      <button class="player-btn btn-play"><i class="fa fa-play"></i></button>
      <button class="player-btn btn-next"><i class="fa fa-fast-forward"></i></button>
    </div>
  </div>
  <div class="speaker speaker-right">&nbsp;</div>
</header>