<section class="playlist" ng-controller="PlaylistController">
  <header>
    <button>Clear</button>
    <button>Shuffle</button>
    <!-- <h1>Playlist</h1> -->
  </header>
  <ol>
    <li ng-repeat="song in songs">
      <div class="item" data-track="{{song.track}}" ng-class="{playing: song == currentSong}" ng-click="playSong(song)">
        {{song.title}}
      </div>
      <button class="danger no-stretch">
        <i class="fa fa-close"></i>
      </button>
    </li>
  </ol>
</section>
