<header class="player" ng-controller="PlayerController">
  <div class="speaker speaker-left">&nbsp;</div>
  <div class="controls">

    <audio
      lx-audio="player"
      autoplay
      preload
      ng-attr-src="{{ player.song.path }}"
      ng-attr-type="{{ 'audio/'+player.song.extension.slice(1) }}">
    </audio>
    
    <div class="display">
      <div class="loading-indicator-container" ng-class="{hidden: requestCount <= 0}">
        <div class="loading-indicator">&nbsp;</div>
      </div>
      
      <h3><i class="fa fa-music"></i> {{ player.song.title || 'Nothing Pulpitating' }}</h3>
      <aside class="display-info">
        <span class="display-info-artist">{{ player.song.artist.name }}</span>
        <span> - </span>
        <span class="display-info-album">{{ player.song.album.title }}</span>
      </aside>
    </div>
    
    <div class="buttons">
      <button ng-click="previous()" class="player-btn btn-previous"><i class="fa fa-fast-backward"></i></button>
      <button ng-click="playPause()" class="player-btn btn-play">
        <i class="fa" ng-class="{'fa-play': !player.playing, 'fa-pause': player.playing}"></i>
      </button>
      <button ng-click="forward()" class="player-btn btn-next"><i class="fa fa-fast-forward"></i></button>
    </div>
  </div>
  <div class="speaker speaker-right">&nbsp;</div>
</header>