<section class="library-songs">
  <header>
    <!-- <div class="search">
      <input ng-model="artistsFilter" type="text" placeholder="Search Artists">
      <button class="remove no-stretch" ng-click="artistsFilter = ''"><i class="fa fa-close"></i></button>
    </div> -->
  </header>
  <ul>
    <li ng-repeat="album in selectedArtist.albums">
      <div>
        <div ng-click="getSongs(album); album.showSongs = !album.showSongs" class="item">{{::album.title}}</div>
        <button ng-click="addAlbumToPlaylist(album)" class="success no-stretch">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      
      <ul ng-show="album.showSongs">
        <li ng-repeat="song in album.songs">
          <div>
            <div ng-click="addSongToPlaylist(song)" class="item">{{::song.title}}</div>
            <!-- <button ng-click="addSongToPlaylist(song)" class="success no-stretch">
              <i class="fa fa-plus"></i>
            </button> -->
          </div>
        </li>
      </ul>
      
    </li>
  </ul>
</section>
