<section class="library-songs">
  <header>
    <!-- <div class="search">
      <input ng-model="artistsFilter" type="text" placeholder="Search Artists">
      <button class="remove no-stretch" ng-click="artistsFilter = ''"><i class="fa fa-close"></i></button>
    </div> -->
  </header>
  <ul>
    <li ng-repeat="album in selectedArtist.albums">
      <div>
        <div ng-click="getSongs(album); album.showSongs = !album.showSongs" class="item" ng-class="{lit: album.showSongs}">{{::album.title}}</div>
        <button ng-click="addAlbumToPlaylist(album)" class="success no-stretch">
          <i class="fa fa-plus"></i>
        </button>
      </div>
      
      <ol ng-show="album.showSongs">
        <li ng-repeat="song in album.songs">
          <div>
            <div data-track="{{::song.track}}" ng-click="addSongToPlaylist(song)" class="item">
              <i class="fa fa-music"></i>
              <span>{{::song.title}}</span>
            </div>
            <button ng-click="songInfo.song = song" class="info no-stretch">
              <i class="fa fa-info"></i>
            </button>
          </div>
        </li>
      </ol>
      
    </li>
  </ul>
</section>
