<section class="library-songs">
  <header>
    <!-- <div class="search">
      <input ng-model="artistsFilter" type="text" placeholder="Search Artists">
      <button class="remove no-stretch" ng-click="artistsFilter = ''"><i class="fa fa-close"></i></button>
    </div> -->
  </header>
  <ul>
    <li ng-repeat="album in selectedArtist.albums">
      <div>
        <div class="item">{{::album.title}}</div>
        <button class="success no-stretch">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </li>
  </ul>
</section>
