<!DOCTYPE html>
<html>
<head>
  <title>Pulpitator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>
	<p>Hi</p>
  <p><%= APP_CONFIG['audio_root'] %></p>
</body>
</html>
