<!DOCTYPE html>
<html lang="en" ng-app="pulpApp">
<head>
  <title>Pulpitator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body ng-controller="AppController">
  <header ng-model="selected.song">
    <audio id="player" player ng-show="selected.song" ng-attr-type="{{ 'audio/'+selected.song.extension.slice(1) }}" ng-attr-src="{{ selected.song && '/songs/'+selected.song.id+'/play'+selected.song.extension }}" preload autoplay>
      Sorry, your browser sucks.
    </audio>
    
    <div id="nowPlaying">
      <div class="artistInfo">
        <h1>{{ selected.song.title || "nothing pulpitating" }}</h1>
        <aside>{{ selected.song.artist.name || '-' }} : {{ selected.song.album.title || '-' }}</aside>
        <!-- <span>{{ selected.song.length }}</span> -->
      </div>
      <div class="controls">
        <button ng-click="player.prevSong()">Prev</button>
        <button ng-click="player.togglePlay()" ng-class="player.playing ? 'playing':''" id="play">&#9654;</button>
        <button ng-click="player.nextSong()">Next</button>
      </div>
    </div>
    
    <div id="timeline">
      <div id="progressbar">
        <div id="playhead"></div>
      </div>
    </div>
    
  </header>
  
  <div class="sections">
    
    <section class="playlist">
      <div class="playlistControls">
        <button ng-click="playlist.clear()">Clear</button>
        <button ng-click="startShuffle()" ng-class="player.shuffle ? 'selected' : ''">Shuffle</button>
      </div>
      <ol>
        <li ng-repeat="song in playlist.songs track by $index" ng-class="song == selected.song ? 'playing' : ''" draggable="true">
          <button class="song" ng-click="player.playSong(song)">
            {{ song.title }}
          </button>
          <button class="remove" ng-click="playlist.remove(song)">x</button>
          <hr class="clear">
        </li>
      </ol>
    </section>
    
    <section class="artists">
      <div class="search">
        <input type="text" ng-model="artistSearch" placeholder="Search Artists" autofocus tabindex="1">
      </div>
      <ul>
        <li ng-repeat="artist in data.artists | filter: artistSearch">
          <button ng-class="artist == selected.artist ? 'selected' : ''" class="artist" ng-click="getAlbums(artist.id)">{{ artist.name }}</button>
        </li>
      </ul>
    </section>
  
    <section class="albums">
      <div class="search">
        <input type="text" ng-model="albumSearch" placeholder="Search Albums" tabindex="2">
      </div>
      <ul>
        <li ng-repeat="album in data.albums | filter: albumSearch">
          <button ng-class="album == selected.album ? 'selected' : ''" class="album" ng-click="getSongs(album.id)">{{ album.title }}</button>
          <button class="addAlbum" ng-click="addAlbum(album)">+</button>
        </li>
      </ul>
    </section>
  
    <section class="songs">
      <div class="search">
        <input type="text" ng-model="songSearch" placeholder="Search Songs" tabindex="3">
      </div>
      <ul>
        <li ng-repeat="song in data.songs | filter: songSearch">
          <button class="song" ng-click="playlist.add(song)">{{ song.title }}</button>
        </li>
      </ul>
    </section>
    
    <hr class="clear">
  </div>
  
  <footer></footer>
</body>
</html>
 