<!DOCTYPE html>
<html lang="en" ng-app="pulpApp">
<head>
  <title>Pulpitator</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body ng-controller="ArtistsController">
  <div class="search">
    <input type="text" ng-model="search" placeholder="Search" autofocus>
  </div>
  <section class="artists">
    <ul>
      <li ng-repeat="artist in artists | filter: search">
        <button class="artist" id="artist-{{artist.id}}" ng-click="getAlbums(artist.id)">{{ artist.name }}</button>
      </li>
    </ul>
  </section>
  <section class="albums">
    <!-- <p ng-click="test = 'blah'">Thing: {{ test }}</p> -->
    <ul>
      <li ng-repeat="album in albums">
        <button class="album" id="album-{{album.id}}">{{ album.title }}</button>
      </li>
    </ul>
  </section>
</body>
</html>
 