/*
 *= require_tree .
 *= require_self
 */

@import 'mixins';

* {
    box-sizing: border-box;
    font-family: helvetica, sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

body {
    overflow: hidden;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}

audio {
    width: 100%;
}

input {
    border: 1px solid #CCC;
    border-radius: 3px;
    padding: 10px;
    outline: none;
    
    &:focus {
        outline: none;
    }
    
    &[type=text] {
        
        width: 100%;
        
        &:focus {
            outline: none;
            box-shadow: 0 0 10px rgba(0,155,255,0.5);
        }
    }
}

li button {
    border: none;
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
    padding: 10px;
    text-align: left;
    font-size: 0.85em;
    
    @include transition(0.3s, ease-in-out);
    
    &:hover {
        cursor: pointer;
        background-color: #FFF;
    }
    
    &:active {
        background-color: #444;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header {
    height: 20vh;
    background-color: #F5F5F5;
    padding-top: 10px;
}

.artistInfo {
    text-align: center;
}

.selects {
    position: relative;
//    background-color: gray;
}

section {
    position: relative;
    padding: 0px;
    margin: 0;
    width: 25%;
//    display: inline-block;
    float: left;
    border-right: 1px solid rgba(0,0,0,0.3);
    vertical-align: top;
    height: 80vh;
    overflow-y: scroll;
//    overflow-x: hidden;
    
    ul {
        margin: 0;
        padding: 0;
        
        li {
            border-bottom: 1px solid rgba(0,0,0,0.2);
            padding: 0px;
            margin: 0;
        }
    }
    
    ol {
        
        li {
            position: relative;
            
            button {
//                width: 85%;

                &.remove {
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 10%;
                    text-align: center;
                    border-left: 1px solid rgba(0,0,0,0.1);
                }
            }
        }
    }
}

.search {
    @include position-sticky;
    top: 0px;
    
    input {
        border: none;
        border-radius: 0;
//        width: 25%;
        margin: 0;
        background-color: rgba(255,255,255,0.9);
//        position: fixed;
        &:focus {
            background-color: #FFF;
        }
    }
}

hr.clear {
    clear: both;
    height: 0;
    border: 0;
}