/*
 *= require_tree .
 *= require_self
 */

* {
    box-sizing: border-box;
    font-family: helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

input {
    border: 1px solid #CCC;
    border-radius: 3px;
    padding: 10px;
    outline: none;
    
    &:focus {
        outline: none;
    }
    
    &[type=search] {
        
        width: 100%;
        
        &:focus {
            outline: none;
            box-shadow: 0 0 10px rgba(0,155,255,0.5);
        }
    }
}

li button {
    border: none;
    width: 100%;
    height: 100%;
    background-color: #EFEFEF;
    padding: 10px;
    text-align: left;
    font-size: 0.85em;
    
    &:hover {
        cursor: pointer;
        background-color: #FFF;
    }
    
    &:active {
        background-color: #444;
    }
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header {
    height: 20vh;
    background-color: #F5F5F5;
}

section {
    position: relative;
    padding: 10px;
    width: 25%;
    display: inline-block;
    border-right: 1px solid rgba(0,0,0,0.3);
    vertical-align: top;
    height: 80vh;
    overflow-y: scroll;
    
    ul {
        li {
            border-bottom: 1px solid rgba(0,0,0,0.2);
            padding: 0px;
        }
    }
}

.search {
    position: relative;
//    position: fixed;
//    width: 100%;
    input {
//        position: fixed;
    }
}
