@mixin transition($timing, $func) {
    -webkit-transition: $timing $func;
       -moz-transition: $timing $func;
        -ms-transition: $timing $func;
         -o-transition: $timing $func;
            transition: $timing $func;
}